[Unit]
Description=cuspcli
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=cuspd
Group=cuspd
PermissionsStartOnly=true
ExecStart=/usr/bin/cuspcli rest-server --laddr {{CUSPCLI_ADDRESS}}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

