[Unit]
Description=libocli
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=libod
Group=libod
PermissionsStartOnly=true
ExecStart=/usr/bin/libocli rest-server --laddr {{CUSPCLI_ADDRESS}}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

